{% extends 'base.html' %}

{% block content %}



<form action="/" method="POST">
    {% csrf_token %}
<div class="container mt-2">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10 col-lg-10">
            <div class="border">
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">{{set6.que}}</h5>
                    </div>
                    <hr>
                    <div class="ans ml-2">
                        <label class="radio"> <input type="radio" name="{{question.id}}" value="{{question.ans1}}">
                            <span>{{set6.ans1}}</span>
                        </label>
                    </div>
                    <div class="ans ml-2">
                        <label class="radio"> <input type="radio" name="{{question.id}}" value="{{question.ans2}}">
                            <span>{{set6.ans2}}</span>
                        </label>
                    </div>
                    <div class="ans ml-2">
                        <label class="radio"> <input type="radio" name="{{question.id}}" value="{{question.ans3}}">
                            <span>{{set6.ans3}}</span>
                        </label>
                    </div>
                    <div class="ans ml-2">
                        <label class="radio"> <input type="radio" name="{{question.id}}" value="{{question.ans4}}">
                            <span>{{set6.ans4}}</span>
                        </label>
                    </div>
                   
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container mt-2">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10 col-lg-10">
            <div class="border">
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">{{set7.que}}</h5>
                    </div>
                    <hr>
                    <div class="ans ml-2">
                        <label class="radio"> <input type="radio" name="{{question.id}}" value="{{question.ans1}}">
                            <span>{{set7.ans1}}</span>
                        </label>
                    </div>
                    <div class="ans ml-2">
                        <label class="radio"> <input type="radio" name="{{question.id}}" value="{{question.ans2}}">
                            <span>{{set7.ans2}}</span>
                        </label>
                    </div>
                    <div class="ans ml-2">
                        <label class="radio"> <input type="radio" name="{{question.id}}" value="{{question.ans3}}">
                            <span>{{set7.ans3}}</span>
                        </label>
                    </div>
                    <div class="ans ml-2">
                        <label class="radio"> <input type="radio" name="{{question.id}}" value="{{question.ans4}}">
                            <span>{{set7.ans4}}</span>
                        </label>
                    </div>
                   
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container mt-2">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10 col-lg-10">
            <div class="border">
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">{{set8.que}}</h5>
                    </div>
                    <hr>
                    <div class="ans ml-2">
                        <label class="radio"> <input type="radio" name="{{question.id}}" value="{{question.ans1}}">
                            <span>{{set8.ans1}}</span>
                        </label>
                    </div>
                    <div class="ans ml-2">
                        <label class="radio"> <input type="radio" name="{{question.id}}" value="{{question.ans2}}">
                            <span>{{set8.ans2}}</span>
                        </label>
                    </div>
                    <div class="ans ml-2">
                        <label class="radio"> <input type="radio" name="{{question.id}}" value="{{question.ans3}}">
                            <span>{{set8.ans3}}</span>
                        </label>
                    </div>
                    <div class="ans ml-2">
                        <label class="radio"> <input type="radio" name="{{question.id}}" value="{{question.ans4}}">
                            <span>{{set8.ans4}}</span>
                        </label>
                    </div>
                   
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container mt-2">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10 col-lg-10">
            <div class="border">
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">{{set9.que}}</h5>
                    </div>
                    <hr>
                    <div class="ans ml-2">
                        <label class="radio"> <input type="radio" name="{{question.id}}" value="{{question.ans1}}">
                            <span>{{set9.ans1}}</span>
                        </label>
                    </div>
                    <div class="ans ml-2">
                        <label class="radio"> <input type="radio" name="{{question.id}}" value="{{question.ans2}}">
                            <span>{{set9.ans2}}</span>
                        </label>
                    </div>
                    <div class="ans ml-2">
                        <label class="radio"> <input type="radio" name="{{question.id}}" value="{{question.ans3}}">
                            <span>{{set9.ans3}}</span>
                        </label>
                    </div>
                    <div class="ans ml-2">
                        <label class="radio"> <input type="radio" name="{{question.id}}" value="{{question.ans4}}">
                            <span>{{set9.ans4}}</span>
                        </label>
                    </div>
                   
                </div>

            </div>
        </div>
    </div>
</div>

<div class="container mt-2">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10 col-lg-10">
            <div class="border">
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">{{set10.que}}</h5>
                    </div>
                    <hr>
                    <div class="ans ml-2">
                        <label class="radio"> <input type="radio" name="{{question.id}}" value="{{question.ans1}}">
                            <span>{{set10.ans1}}</span>
                        </label>
                    </div>
                    <div class="ans ml-2">
                        <label class="radio"> <input type="radio" name="{{question.id}}" value="{{question.ans2}}">
                            <span>{{set10.ans2}}</span>
                        </label>
                    </div>
                    <div class="ans ml-2">
                        <label class="radio"> <input type="radio" name="{{question.id}}" value="{{question.ans3}}">
                            <span>{{set10.ans3}}</span>
                        </label>
                    </div>
                    <div class="ans ml-2">
                        <label class="radio"> <input type="radio" name="{{question.id}}" value="{{question.ans4}}">
                            <span>{{set10.ans4}}</span>
                        </label>
                    </div>
                   
                </div>

            </div>
        </div>
    </div>
</div>

    <div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10 col-lg-10">
            
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white">
                        <a href="/2">
                            <button class="btn btn-primary d-flex align-items-center btn-danger" type="submit" ><i
                                    class="fa fa-angle-left mt-1 mr-1"></i>&nbsp;Previous</button></a>
                     
                       
                            <button class="btn btn-primary border-success align-items-center btn-success" type="submit">Next<i
                                    class="fa fa-angle-right ml-2"></i>
                            </button>
                       
                    </div>
                </div>
            
        </div>
    </div>
</div>

</form>

 
{% endblock%}