{% extends 'base.html' %}

{% block content %}


{% for question in questions %}
<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10 col-lg-10">
            <div class="border">
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">{{question.que}}</h5>
                    </div>
                    <hr>
                    <div class="ans ml-2">
                        <label class="radio"> <input type="radio" name="brazil" value="brazil">
                            <span>{{question.ans1}}</span>
                        </label>
                    </div>
                    <div class="ans ml-2">
                        <label class="radio"> <input type="radio" name="Germany" value="Germany">
                            <span>{{question.ans2}}</span>
                        </label>
                    </div>
                    <div class="ans ml-2">
                        <label class="radio"> <input type="radio" name="Indonesia" value="Indonesia">
                            <span>{{question.ans3}}</span>
                        </label>
                    </div>
                    <div class="ans ml-2">
                        <label class="radio"> <input type="radio" name="Russia" value="Russia">
                            <span>{{question.ans4}}</span>
                        </label>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endfor %}


<form action="/2">
<div class="d-flex justify-content-center">
    <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white">
        <button class="btn btn-primary border-success align-items-center btn-success" type="submit">Submit<i
                class="fa fa-angle-right ml-2"></i>
        </button>
    </div>
</div>
</form>
{% endblock%}