{% extends 'base.html' %}

{% block content %}


{% for question in questions %}
<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10 col-lg-10">
            <div class="border">
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-danger">Q.</h3>
                        <h5 class="mt-1 ml-2">{{question.que}}</h5>
                    </div>
                    <hr>
                    <div class="ans ml-2">
                        <label class="radio"> <input type="radio" name="{{question.id}}" value="{{question.ans1}}">
                            <span>{{question.ans1}}</span>
                        </label>
                    </div>
                    <div class="ans ml-2">
                        <label class="radio"> <input type="radio" name="{{question.id}}" value="{{question.ans2}}">
                            <span>{{question.ans2}}</span>
                        </label>
                    </div>
                    <div class="ans ml-2">
                        <label class="radio"> <input type="radio" name="{{question.id}}" value="{{question.ans3}}">
                            <span>{{question.ans3}}</span>
                        </label>
                    </div>
                    <div class="ans ml-2">
                        <label class="radio"> <input type="radio" name="{{question.id}}" value="{{question.ans4}}">
                            <span>{{question.ans4}}</span>
                        </label>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endfor %}


<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10 col-lg-10">
            
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white">
                        <form action="/">
                            <button class="btn btn-primary d-flex align-items-center btn-danger" type="submit"><i
                                    class="fa fa-angle-left mt-1 mr-1"></i>&nbsp;Previous</button>
                        </form>
                        <form action="/4">
                            <button class="btn btn-primary border-success align-items-center btn-success" type="submit">Next<i
                                    class="fa fa-angle-right ml-2"></i>
                            </button>
                        </form>
                    </div>
                </div>
            
        </div>
    </div>
</div> 
{% endblock%}