<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" src="/mcq_test/templates/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
</head>

<body>

    <div class="container p-5">
        <div class="d-flex container justify-content-center">
            <h1 style="color: #dc3545;">Congratulations You Completed MCQ test </h1>
        </div>
        <div class="d-flex container justify-content-center">
            <h1>You got <b style="color: #dc3545;">{{mark}}</b> Points</h1>
        </div>
        <form action="/">
            <div class="d-flex justify-content-center">
                <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white">
                    <button class="btn btn-primary border-success align-items-center btn-success" type="submit"><h2>Restart Test<i
                            class="fa fa-angle-right ml-2"></i></h2>
                    </button>
                </div>
            </div>
        </form>
    </div>

</body>

</html>